*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #32335c;
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 50px;
    margin-left: 11em;
}

/* Completed css */
.completed{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.completed h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.completed h2 img{
    width: 40px;
    margin-left: 7.3em;
}
#completed-container li {
    text-decoration: line-through;
    color: gray;
}

/* */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e9e505;
    color: #01173b;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 11px;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #d1d1d1;
}
ul li  button{
    background: none;
    position: absolute;
    padding: 0%;
    right: 30px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: #555;
}

ul li button:hover {
    background: #d1d1d1;
    transition:  0.3s ease;
}

input:focus {
    border: 1.5px solid #e9e505; /* Focus effect */
    outline: none;
}
